/*
Cisco Secure Access Identities Registration API

Manage the Secure Access identity endpoints and security groups tags (SGTs) for the identities in the organization.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package identities

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// IdentitiesAPIService IdentitiesAPI service
type IdentitiesAPIService service

type ApiGetIdentitiesRequest struct {
	ctx context.Context
	ApiService *IdentitiesAPIService
	type_ string
	label *string
	offset *int64
	limit *int64
}

// The descriptive name of the identity endpoint or security group tag (SGT).
func (r ApiGetIdentitiesRequest) Label(label string) ApiGetIdentitiesRequest {
	r.label = &label
	return r
}

// The place to start reading in the collection. The default offset is &#x60;0&#x60;.
func (r ApiGetIdentitiesRequest) Offset(offset int64) ApiGetIdentitiesRequest {
	r.offset = &offset
	return r
}

// The number of items to return in the page. The default limit is &#x60;100&#x60;.
func (r ApiGetIdentitiesRequest) Limit(limit int64) ApiGetIdentitiesRequest {
	r.limit = &limit
	return r
}

func (r ApiGetIdentitiesRequest) Execute() (*GetIdentities200Response, *http.Response, error) {
	return r.ApiService.GetIdentitiesExecute(r)
}

/*
GetIdentities List Identities

Get the list of identity endpoints or security group tags (SGTs) for the identities in the organization.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param type_ Use `device` to query the collection for the identity endpoints in the organization. Use `securityGroupTag` to query the collection for the security group tags in the organization.
 @return ApiGetIdentitiesRequest
*/
func (a *IdentitiesAPIService) GetIdentities(ctx context.Context, type_ string) ApiGetIdentitiesRequest {
	return ApiGetIdentitiesRequest{
		ApiService: a,
		ctx: ctx,
		type_: type_,
	}
}

// Execute executes the request
//  @return GetIdentities200Response
func (a *IdentitiesAPIService) GetIdentitiesExecute(r ApiGetIdentitiesRequest) (*GetIdentities200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetIdentities200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentitiesAPIService.GetIdentities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identities/registrations/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "label", r.label, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int64 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/plain"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetIdentities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateIdentitiesRequest struct {
	ctx context.Context
	ApiService *IdentitiesAPIService
	type_ string
	updateIdentitiesRequestInner *[]UpdateIdentitiesRequestInner
}

func (r ApiUpdateIdentitiesRequest) UpdateIdentitiesRequestInner(updateIdentitiesRequestInner []UpdateIdentitiesRequestInner) ApiUpdateIdentitiesRequest {
	r.updateIdentitiesRequestInner = &updateIdentitiesRequestInner
	return r
}

func (r ApiUpdateIdentitiesRequest) Execute() (*UpdateIdentities200Response, *http.Response, error) {
	return r.ApiService.UpdateIdentitiesExecute(r)
}

/*
UpdateIdentities Update Identities

* Use the `PUT` operation to add a list of identity devices or security group tags (SGTs) in the organization. For each API operation, you can add 1–250 identity devices
  or security group tags.
* Use the `PUT` operation to modify the properties of the identities registered in the organization.
  When you set the `status` field of an identity endpoint or security group tag to `inactive`, Secure Access makes the identity inactive in the organization
  and the identity is not managed or protected by the configured access rules and security controls in the Access policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param type_ Use `device` to query the collection for the identity endpoints in the organization. Use `securityGroupTag` to query the collection for the security group tags in the organization.
 @return ApiUpdateIdentitiesRequest
*/
func (a *IdentitiesAPIService) UpdateIdentities(ctx context.Context, type_ string) ApiUpdateIdentitiesRequest {
	return ApiUpdateIdentitiesRequest{
		ApiService: a,
		ctx: ctx,
		type_: type_,
	}
}

// Execute executes the request
//  @return UpdateIdentities200Response
func (a *IdentitiesAPIService) UpdateIdentitiesExecute(r ApiUpdateIdentitiesRequest) (*UpdateIdentities200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateIdentities200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentitiesAPIService.UpdateIdentities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identities/registrations/{type}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateIdentitiesRequestInner == nil {
		return localVarReturnValue, nil, reportError("updateIdentitiesRequestInner is required and must be specified")
	}
	if len(*r.updateIdentitiesRequestInner) > 250 {
		return localVarReturnValue, nil, reportError("updateIdentitiesRequestInner must have less than 250 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/plain"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateIdentitiesRequestInner
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetIdentities500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
